* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f44336;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background-color: #eee;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: white;
    width: 100%;
}

.guess-game {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;

    .game-area {
        .control {
            width: 400px;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 30px auto;

            .check {
                background-color: #f44336;
                border-color: #f44336;
                flex: 1;

            }

            .hint {

                background-color: #108882;
                border-color: #108882;

                /* width: fit-content; */
            }

            button {
                padding: 10px 15px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                border-radius: 6px;
                cursor: pointer;
            }

            button:disabled {
                background-color: black;
                opacity: .5;
                cursor: no-drop;
            }


        }

        .massage {
            text-align: center;
            font-weight: bold;
            font-size: 50px;

            span {
                display: block;
                margin-top: 10px;
                font-weight: bold;
                font-size: 50px;
                color: green;
                text-transform: capitalize;


            }

            p {
                margin-top: 15px;
            }


        }

        /* style when game over  */
        .gameOver {
            color: rgb(63, 25, 25);
            font-size: 50px;

        }



        .inputs {
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;


                >span {
                    margin-right: 15px;
                    font-size: 25px;
                    font-weight: bold;
                }

                &.disabled-inputs {
                    opacity: .5;
                    pointer-events: none;
                }
            }


        }
    }
}



input {
    margin: 0 15px;
    width: 60px;
    height: 60px;
    border: none;
    border-bottom: 3px solid black;
    background-color: white;
    caret-color: var(--primary-color);

    font-size: 50px;
    text-align: center;

    &::placeholder {
        font-size: 15px;
        text-transform: capitalize;
        font-weight: bold;
        color: white;

    }

    &:focus {
        outline-color: #f44336;
    }

    &.yes-in-place {
        background-color: #18ba89;
        border-color: #18ba89;
        color: white;
    }

    &.not-in-place {
        background-color: #f89e13;
        border-color: #f89e13;
        color: white;
    }

    &.no {
        background-color: #27303f;
        border-color: #27303f;
        color: white;
    }
}



.key-colors {

    .key-color {
        display: flex;
        align-items: center;
        padding: 12px;
        background-color: white;
        margin-bottom: 10px;

        .key {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            /* 
            &.yes-in-place {
                background-color: #f89e13;
            }

            &.not-in-place {
                background-color: #18ba89;
            }

            &.no {
                background-color: #27303f;
            }
        }

        .key-text {
            font-size: 20px;
            font-weight: bold;
        } */
            background-color: var(--color);
        }
    }
}




footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.hintInput {
    background-color: green;
    color: red;
}

@media (max-width: 600px) {

    .guess-game {
        flex-direction: column;
        width: min-content;
        align-items: center;
        height: 0px;

    }

    .game-area {
        margin: 0;
        padding: 0;

    }


    .inputs>div>input {
        margin-right: 0px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        font-weight: bold;

    }



    .key-colors {
        position: relative;
        /* top: -300px; */
    }



    .guess-game .game-area .inputs>div>span {
        margin-right: 0px;
        white-space: nowrap;
        font-size: 20px;

    }

    .guess-game .game-area .inputs>div {
        display: flex;
        width: min-content;
    }

    .guess-game .game-area .control {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .guess-game .game-area .control .check {
        flex: 1;
    }


    x
}